<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xt.mxtcss"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk android:minSdkVersion="9"  android:targetSdkVersion="16" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="MxtcssApplication" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".activity.AdminActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".activity.CusumerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.CameraActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.PhoneInfoActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".activity.PhotoDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.VideoDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".zxing.CaptureActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".activity.GpsActivity"
            android:label="@string/app_name" >
        </activity>
        
       <service android:name=".service.LogService" />
       <service android:name=".service.GpsService" />      
    </application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
<uses-permission android:name="android.permission.CAMERA"></uses-permission>
<uses-permission android:name="android.permission.READ_LOGS" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>

 <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


 <uses-feature android:name="android.hardware.camera" />
 <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>